sidebar.sidebar.js-sidebar
  .sidebar-content.js-swimm
    .search-wrap
      form.search
        input(type='text' placeholder="Search").search__input
        button.search__button.fas.fa-search
    nav.menu-block
      .sidebar__title Menu
      ul.menu
        li.menu__li
          a(href=jv).menu__link Homepage
        li.menu__li
          a(href=jv).menu__link Generic
        li.menu__li
          a(href=jv).menu__link Elements
        li.menu__li
          a(href=jv).menu__link.menu__link--submenu.js-submenu  Submenu
          ul.submenu
            li.submenu__li
              a(href=jv).submenu__link Lorem Dolor
            li.submenu__li
              a(href=jv).submenu__link Ipsum Adipiscing
            li.submenu__li
              a(href=jv).submenu__link Tempus Magna
            li.submenu__li
              a(href=jv).submenu__link Feugiat Veroeros
        li.menu__li
          a(href=jv).menu__link Etiam Dolore
        li.menu__li
          a(href=jv).menu__link Adipiscing
        li.menu__li
          a(href=jv).menu__link.menu__link--submenu.js-submenu Another Submenu
          ul.submenu
            li.submenu__li
              a(href=jv).submenu__link Lorem Dolor
            li.submenu__li
              a(href=jv).submenu__link Ipsum Adipiscing
            li.submenu__li
              a(href=jv).submenu__link Tempus Magna
            li.submenu__li
              a(href=jv).submenu__link Feugiat Veroeros
        li.menu__li
          a(href=jv).menu__link Maximus Erat
        li.menu__li
          a(href=jv).menu__link Sapien Mauris
        li.menu__li
          a(href=jv).menu__link Amet Lacinia
    .mini-articles
      .sidebar__title Ante interdum
      article.mini-article
        a(href=jv).mini-article__img
          img(src='img/mini-article1.jpg' alt='mini-article')
        .mini-article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
      article.mini-article
        a(href=jv).mini-article__img
          img(src='img/mini-article2.jpg' alt='mini-article')
        .mini-article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
      article.mini-article
        a(href=jv).mini-article__img
          img(src='img/mini-article3.jpg' alt='mini-article')
        .mini-article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.
      a(href=jv).button More
    .contacts
      .sidebar__title Get in touch
      .contacts__text Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
      .contacts__email
        i.far.fa-envelope 
        a(href='mailto:information@untitled.tld') information@untitled.tld
      .contacts__tel         
        i.fas.fa-phone 
        a(href='tel:+70000000000') (000) 000-0000
      .contacts__adress   
        i.fas.fa-home 
        span 1234 Somewhere Road #8254
          br
          | Nashville, TN 00000-0000    
    .sidebar-footer © Untitled. All rights reserved. Demo Images: 
      a(href=jv) Unsplash
      |. Design: 
      a(href=jv) HTML5 UP
      |.
  a(href=jv).sidebar-gamb.js-sidebar-gamb
    i.fas.fa-bars