include inc/mixinSvg

doctype html
html(lang='ru-RU')
  head
    include inc/head
  body
    .wrap
      include inc/sidebar
      section.main
        .main-top
          a(href=jv).logo
            b Editorial 
            |   by HTML5 UP
          .socials
            a(href="#" class="fab fa-twitter")
              span Twitter
            a(href="#" class="fab fa-facebook-f")
              span Facebook
            a(href="#" class="fab fa-snapchat-ghost")
              span Snapchat
            a(href="#" class="fab fa-instagram")
              span Instagram
            a(href="#" class="fab fa-medium-m")
              span Medium
        .welcome
          .welcome-info
            h1.welcome__title Hi, I’m Editorial
              br
              | by HTML5 UP
            .welcome__dop-text A FREE AND FULLY RESPONSIVE SITE TEMPLATE
            .welcome__text
              p Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
            a(href=jv).button.welcome__button Learn more
          .welcome-img
            img(src='img/welcome.jpg' alt='welcome')
        .advantages
          h2.h2 Erat lacinia
          .advantages-content
            .advantage
              .advantage__icon
                span.far.fa-gem
              .advantage-info
                .advantage__title Portitor ullamcorper
                .advantage__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            .advantage
              .advantage__icon
                span.fas.fa-paper-plane
              .advantage-info
                .advantage__title Sapien veroeros
                .advantage__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            .advantage
              .advantage__icon
                span.fas.fa-rocket
              .advantage-info
                .advantage__title Quam lorem ipsum
                .advantage__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
            .advantage
              .advantage__icon
                span.fas.fa-signal
              .advantage-info
                .advantage__title Sed magna finibus
                .advantage__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
        .articles
          h2.h2 Ipsum sed dolor
          .articles-content
            article.article
              a(href=jv).article__img
                img(src='img/article1.jpg' alt='article')
              h3.article__title Interdum aenean
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More
            article.article
              a(href=jv).article__img
                img(src='img/article2.jpg' alt='article')
              h3.article__title Nulla amet dolore
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More
            article.article
              a(href=jv).article__img
                img(src='img/article3.jpg' alt='article')
              h3.article__title Tempus ullamcorper
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More
            article.article
              a(href=jv).article__img
                img(src='img/article4.jpg' alt='article')
              h3.article__title Sed etiam facilis
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More
            article.article
              a(href=jv).article__img
                img(src='img/article5.jpg' alt='article')
              h3.article__title Feugiat lorem aenean
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More
            article.article
              a(href=jv).article__img
                img(src='img/article6.jpg' alt='article')
              h3.article__title Amet varius aliquam
              .article__text Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
              a(href=jv).button More

    include inc/footer
    include inc/script